.google-map-container {
  position: relative !important;
  min-height: 400px;
  width: 100%;
  overflow: hidden;
}

.google-map-container iframe {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.google-map-fallback {
  position: relative !important;
  min-height: inherit;
  width: 100%;
}